VITE_SUPABASE_URL=https://hmyxwiknoglsrhrywnwf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhteXh3aWtub2dsc3Jocnl3bndmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ4NDY3MjcsImV4cCI6MjA4MDQyMjcyN30.9qvUoy9nhpzIcLwQnLrl5k82SXR0KWtZ0Bn2mJLCf-c